;Configuration values that are "selectable options" should have a comment above them listing the possible choices.
;Defaults should be set in the Python config models, but not in the example configuration files.
;Any value that can work with a "sensible default" should be included in these configurations, with a commented-out reference in the `app.conf.example` file.
;No environment-specific values should be included in the default configurations.
;Configuration files with environment-specific values should be suffixed with their environment (e.g., `app.conf.ci`, `app.conf.dev`).


[default]
env=local
base_url=http://localhost:8001/

[logging]
logger_name=proxy
log_level=INFO

;[tls]
;client_cert=certs/out/client.crt
;client_key=certs/out/client.key
;ca_cert=certs/out/ca.crt

[metric]
; valid adapters: no-op,statsd
adapter=no-op
; statsd config values below not required for no-op
;host=
;port=
;prefix=

[retry]
max_retries=1
backoff=0.25
backoff_factor=1.5

[signature_validation]
verify_signed_requests=False
public_key_paths=

[circuit_breaker]
fail_max=3
reset_timeout=10
; valid storages: in_memory, redis
state_storage=in_memory

[redis]
;host=redis
;port=6379
;username=
;password=
;ssl=True
;mutual_auth=False
;ssl_certfile=/src/certs/out/redis-local.crt
;ssl_keyfile=/src/certs/out/redis-local.key
;ssl_ca_certs=/src/certs/out/ca.crt

[oauth]
state_signing_key_paths=/src/secrets/oauth_state_signing_key.key
client_id=test.mgo.medmij@denhaag
auth_redirect_uri=http://localhost:8001/auth/callback
;signature_lifetime_secs=
;mock_oauth_servers=true

[oauth_tls]
client_cert=certs/out/client.crt
client_key=certs/out/client.key
ca_cert=certs/out/ca.crt

;[dva_target]
; comma-separated list of hostnames or IP addresses that are disallowed as DVA target
; defaults to 'localhost' and '127.0.0.1'
;host_blocklist=

[telemetry]
enabled=False
service_name=Proxy
collector_grpc_url=http://jaeger:4317

[oidc]
client_id=
callback_endpoint=/oidc/callback
state_secret_path=secrets/oidc-state.key
client_assertion_jwt_pvt_key_path=secrets/client_assertion_jwt.key
client_assertion_jwt_pub_key_path=secrets/client_assertion_jwt.pem

[vad_http_client]
; VAD server connection info, e.g. url=https://vad:8006
url=https://vad.example
; Optional mTLS config, (client_cert, client_key) for client verification and ca_cert for server verification
; client_cert=
; client_key=
; ca_cert=
